*
!.gitignore
!.bashrc
!.eslint.json
!.eslintrc.js
!.profile
!.stylish-haskell.yaml
!.tmux.conf
!linux-setup.sh

!.config
.config/*

# Nix
!.nix-defexpr/
!.nix-defexpr/Marcelo/
!.nix-defexpr/marcelo.nix
!.config/nixpkgs
!.config/nixpkgs/config.nix


# Nix
!.config/nvim
!.config/nvim/autoload
!.config/nvim/autoload/plug.vim
!.config/nvim/init.vim
!.config/nvim/spell
!.config/nvim/spell/*

# Sublime
!.sublime_backup
!.sublime_backup/*
!.config/sublime-text-3/
.config/sublime-text-3/*
!.config/sublime-text-3/Packages
.config/sublime-text-3/Packages/*
!.config/sublime-text-3/Packages/env.py

# Mac OS config
!OS
!OS/**

