*
!.gitignore
!.bashrc
!.eslint.json
!.eslintrc.js
!.profile
!.stylish-haskell.yaml

!.config
.config/*

# Nix
!.nix-defexpr/
!.nix-defexpr/Marcelo/
!.nix-defexpr/Marcelo/*
!.config/nixpkgs
!.config/nixpkgs/config.nix

# Atom
!.atom/
.atom/*
!.atom/config.cson
!.atom/keymap.cson
!.atom/packages.list

# Urxvt
!.urxvt/
!.urxvt/ext/
!.urxvt/ext/*

# Vim
!.vimrc

# Sublime
!.sublime_backup
!.sublime_backup/*
!.config/sublime-text-3/
.config/sublime-text-3/*
!.config/sublime-text-3/Packages
.config/sublime-text-3/Packages/*
!.config/sublime-text-3/Packages/env.py

# Xmonad
!.Xdefaults
!.xmonad
.xmonad/*
!.xmonad/xmonad.hs

# Mac OS config
!OS
!OS/**

# Powerline shell
!.config/powerline-shell/
.config/powerline-shell/*
!.config/powerline-shell/config.json

