*
!.gitignore
!.bashrc
!.eslint.json
!.eslintrc.js
!.profile
!.stylish-haskell.yaml

# Atom Stuff
!.atom/
.atom/*
!.atom/config.cson
!.atom/keymap.cson
!.atom/packages.list

# urxvt Terminal
!.urxvt/
!.urxvt/ext/
!.urxvt/ext/*

# Vim
!.vimrc

# Xmonad
!.Xdefaults
!.xsessionrc
!.xmobarrc
!.xmonad
.xmonad/*
!.xmonad/xmonad.hs

# Xmobar
!.xmobarrc.hs

# Mac OS config
!OSX/
!OSX/*
